<div class="general-header">
  <div class="header-title text-white">
    <div>
      <i class="material-icons">keyboard_backspace</i>
    </div>
    <div>
      <h4 class="mb-4">&nbsp;&nbsp;Fill in Details</h4>
    </div>
  </div>
  <div class="header-processbar">
    <ul class="processbar">
      <li class="active">
        <p class="circle">01</p>
        <p class="label">Book</p>
        <p class="line"></p>
      </li>
      <li class="">
        <p class="circle">02</p>
        <p class="label">Check out</p>
        <p class="line"></p>
      </li>
      <li class="">
        <p class="circle">03</p>
        <p class="label">Pay</p>
      </li>
    </ul>
  </div>
</div>

<div class="book-content container-fluid">
  <!-- Your Booking -->
  <div>
    <p class="title-text">Your booking</p>
    <div class="row">
      <div class="col">
        <p>Marriotte NY city</p>
      </div>
      <div class="col text-right">
        <button mat-stroked-button color="primary">Details</button>
      </div>
    </div>
  </div>
  <!-- End Your Booking -->

  <hr>

  <!-- Information Booking -->
  <div>
    <div class="infor-book-item">
      <ul>
        <li>
          <p class="title-text">Check-in-day</p>
          <p>Thur, 06 August 2018</p>
        </li>
        <li>
          <p class="title-text">Check-out-day</p>
          <p>Sat, 10 August 2018</p>
        </li>
        <li>
          <p class="title-text">Room</p>
          <p>Standard Double Room with view</p>
        </li>
      </ul>
    </div>
    <!-- End Information Booking -->

    <hr>

    <!-- Contact Details -->
    <div class="contact-detail">
      <p class="title-text">Contact Details</p>
      <div class="row">
        <div class="col-8">
          <p>Guest's name</p>
        </div>
        <div class="col text-right">
          <button mat-stroked-button color="primary">Fill in</button>
        </div>
      </div>
      <p>+ 037 9999 999 / gmail@gmail.com</p>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio"> I'm booking for myself
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio">I'm booking for another person
        </label>
      </div>
    </div>

    <!-- End Contact Details -->

    <hr>

    <!-- Special request-->
    <div>
      <p class="title-text">Special request</p>
      <div class="row">
        <div class="col">
          <p>High Floor</p>
        </div>
        <div class="col text-right">
          <button mat-stroked-button color="primary">Change/Add</button>
        </div>
      </div>
    </div>
    <!-- End special request -->

    <hr>

    <!-- Total price -->
    <div class="total-price">
      <p class="title-text">Your Price</p>
      <div class="row">
        <div class="col-8">
          <p>Total Price</p>
        </div>
        <div class="col text-right">
          <p class="price">$119</p>
        </div>
      </div>
    </div>
    <!-- End total price -->

    <hr>

    <!-- Button  -->
    <button mat-raised-button color="primary" class="btn-continue">Continue</button>
    <!-- End Button -->
  </div>