img{
    max-width: 100%;
    display: block;
}

.explore__card{
    border: unset;
    margin-right: 1rem;
}

.explore__card .explore__image{
    width: 210px;
    height: 90px;
    border-radius: calc(0.75rem - 0.5px);
    position: relative;
}

.item__text{
    position: absolute;
    left: 1rem;
    bottom: 0rem;
    z-index: 2;
}

#overlay_explore {
    position: absolute;    
    /* width: 100%; */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    border-radius: calc(0.75rem - 0.5px);
    cursor: pointer;
}