<div class="card">
  <img class="card-img-top item_image" [src]="hotel.image" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">{{hotel.name}}</h5>
    <div class="item__info">
      <div class="price__item">
        <p class="price">{{hotel.price}}</p>
      </div>
      <div class="item__rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star unchecked"></span>
        <span class="fa fa-star unchecked"></span>
      </div>
    </div>
    <p class="card-text">Some example text.{{hotel.descrition}}</p>
  </div>
</div>