<div class="card">
  <img class="card-img-top item_image"
    src="./assets/images/Mandarin-Oriental-Barcelona-5-star-luxury-hotel-accomodation-on-famous-street-passeige-de-gracia-in-the-centre-of-the-city.jpg"
    alt="Card image">
  <div class="card-body">
    <h5 class="card-title">Charlotte Hotel</h5>
    <div class="item__info">
      <div class="price__item">
        <p class="price">200.000 USD</p>
      </div>
      <div class="item__rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star unchecked"></span>
        <span class="fa fa-star unchecked"></span>
      </div>
    </div>
    <p class="card-text">Some example text.</p>
  </div>
</div>