<div class="fill-details-content" *ngIf="bookCheckoutStatus; else Payment">
    <!-- Book detail -->
    <div class="book-content container-fluid">
        <!-- Your Booking -->
        <div>
            <p class="title-text">Your booking</p>
            <div class="row">
                <div class="col">
                    <p>Marriotte NY city</p>
                </div>
                <div class="col text-right">
                    <button mat-stroked-button color="primary">Details</button>
                </div>
            </div>
        </div>
        <!-- End Your Booking -->

        <hr>

        <!-- Information Booking -->
        <div>
            <div class="infor-book-item">
                <ul>
                    <li class="dot-check-in">
                        <span class="title-text">&nbsp;&nbsp;Check-in-day</span>
                        <p>Thur, 06 August 2018</p>
                    </li>
                    <li class="dot-check-out">
                        <span class="title-text">&nbsp;&nbsp;Check-out-day</span>
                        <p>Sat, 10 August 2018</p>
                    </li>
                    <li class="dot-room">
                        <span class="title-text room-type">&nbsp;&nbsp;Room</span>
                        <p>Standard Double Room with view</p>
                    </li>
                </ul>
            </div>
            <!-- End Information Booking -->

            <hr>

            <!-- Contact Details -->
            <div class="contact-detail" *ngIf="originContactStatus; else CheckOutDetail">
                <p class="title-text">Contact Details</p>
                <div class="row">
                    <div class="col-8">
                        <p>Please fill in contact details</p>
                    </div>
                    <div class="col text-right">
                        <button mat-stroked-button color="primary" data-toggle="modal" data-target="#myModal">Fill in</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <p>Any special request?</p>
                    </div>
                    <div class="col text-right">
                        <button mat-stroked-button color="primary">Add more</button>
                    </div>
                </div>
            </div>
            <!-- End Contact Details -->

            <hr>

            <!-- Total price -->
            <div class="total-price">
                <p class="title-text">Your Price</p>
                <div class="row">
                    <div class="col-8">
                        <p>Total Price</p>
                    </div>
                    <div class="col text-right">
                        <p>$119</p>
                    </div>
                </div>
            </div>
            <!-- End total price -->

            <!-- Button  -->
            <button mat-raised-button color="primary" class="btn-common" (click)="FillInContinue()">Continue</button>
            <!-- End Button -->
        </div>
        <!-- End book detail -->
    </div>
</div>
<!-- Check-Out -->
<ng-template #CheckOutDetail>
    <!-- Contact Check-Out Details -->
    <div class="contact-detail">
        <p class="title-text">Contact Details</p>
        <div class="row">
            <div class="col-8">
                <p>Guest's name</p>
            </div>
            <div class="col-8">
                <p style="font-weight: 700;">{{_fullName}}</p>
            </div>
        </div>
        <p>{{_telephone}} / {{_email}}</p>
        <div class="select-form">
            <label class="container">I'm booking for myself
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container">I'm booking for another person
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <!-- End Contact Check-Out Details -->

    <hr>

    <!-- Special request-->
    <div>
        <p class="title-text">Special request</p>
        <div class="row">
            <div class="col">
                <p>High Floor</p>
            </div>
            <div class="col text-right">
                <button mat-stroked-button color="primary">Change / Add</button>
            </div>
        </div>
    </div>
    <!-- End special request -->
</ng-template>
<!-- End Check Out -->

<!-- Contact Form -->
<ng-template #Payment>

</ng-template>
<!-- End contact form -->

<!-- Popup Contact -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <span data-dismiss="modal"><i class="material-icons modal-back-icon">keyboard_backspace</i></span>
                <h4 class="modal-title">&nbsp;&nbsp;Contact</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h6 class="contact-title">Where to send you booking details?</h6>
                <form action="">
                    <!-- Name -->
                    <mat-form-field class="field">
                        <input matInput placeholder="Contact name" #fullName>
                    </mat-form-field>
                    <!-- End name -->

                    <!-- Country code & telephone -->
                    <div class="field d-flex justify-content-between">
                        <mat-form-field class="country-code">
                            <input matInput placeholder="Country code" #countryCode>
                        </mat-form-field>
                        <mat-form-field class="telephone">
                            <input matInput placeholder="Telephone" #telephone>
                        </mat-form-field>
                    </div>
                    <!-- End code & telephone -->

                    <!-- Email -->
                    <mat-form-field class="field">
                        <input matInput placeholder="Email" [formControl]="emailFormControl" #email>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- End email -->
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="primary" class="btn" (click)="getInformationGuest(fullName, countryCode, telephone, email)" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- End popup Contact -->