<div class="login-card container-fluid">
  <div class="login-header">
    <mat-card-title class="login-title">Welcome</mat-card-title>
    <br>
    <mat-card-subtitle>Sign in to continue</mat-card-subtitle>
  </div>
  <mat-card-content>
    <form action="">
      <!-- Email -->
      <mat-form-field class="login-field">
        <!-- [formControl]="emailFormControl" -->
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- End Email -->

      <!-- Password -->
      <mat-form-field class="login-field">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <!-- End Password -->
    </form>
    <div class="forgot-password">
      <a href="#" class="forgotpw-text">Forgot Password?</a>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="btn-login" routerLink="/HOME">Login</button>
  </mat-card-actions>

  <!-- SignUp -->
  <div class="sign-up-text">
    <mat-card-subtitle>New to ...Travel?&nbsp;&nbsp;<a href="#" class="signup-text" routerLink="/sign-up">Signup</a></mat-card-subtitle> 
  </div>
  <!-- End SignUp -->
</div>