<div class="page">
    <app-header class="header"
    [title]="getTitle()" 
    [isDisplayHeader]="isDisplayHeader()" 
    [isDisplayHomeHeader]="isDisplayHomeHeader()" 
    [isDisplayInnerHeader]="isDisplayInnerHeader()" 
    [isDisplayProcessBar]="isDisplayProcessBar()" 
    [isDisplayStarRating]="isDisplayStarRating()"
    [isDisplayBackButton]="isDisplayBackButton()"
    [isDisplayHeaderTitle]="isDisplayHeaderTitle()"
    [applyCheckOutStatus]="applyCheckOutStatus()" 
    [applyPayStatus]="applyPayStatus()">
    </app-header>

    <div class="main">
        <router-outlet></router-outlet>
    </div>

    <app-navbar-bottom [isDisplayNavbar]="isDisplayNavbar()"></app-navbar-bottom>

</div>