*:focus {
    outline: 0 !important;
}

#custom-search-input {
    border: solid 1px #ced4da;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 0 0 10px;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.icon-search {
    color: #a8a8a8;
}

.form {
    padding: 0.5em 5%;
}

.form-control {
    padding: unset;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.form__date {
    border: 1px solid #ced4da!important;
}

.form__label {
    margin: 0.75rem 0;
}

.form__icon {
    color: #fc6f81;
}

.card {
    border-radius: 1em;
}

.info-text {
    text-align: left;
    width: 100%;
}

header,
form {
    padding: 2em 5%;
}

.form-group {
    margin-bottom: 20px;
}

.check-in {
    margin-left: unset;
}

.field__date {
    margin-right: 0.75rem;
}

#duration {
    text-align: center;
}

h2.heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    color: #506982;
    border-bottom: 1px solid #506982;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.btn-find-hotel {
    outline: none;
    background-color: #545dff;
    /* border-color: #545dff; */
    font-size: 16px;
    margin-top: 10%;
    padding: 5px 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title__recent-searches {
    padding: 1rem 0;
}

.col-6.col-md-6.item:nth-child(odd) {
    padding-right: .5rem;
    padding-left: 2px;
}

.col-6.col-md-6.item:nth-child(even) {
    padding-left: .5rem;
    padding-right: 2px;
}

.explore {
    width: 100%;
}

.explore__content {
    overflow: auto;
    white-space: nowrap;
}

.explore__item {
    display: inline-block;
    /* margin: 0 0.5rem; */
}


/* Date */

#control_wrapper {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}

.control-section {
    margin: 25px auto;
}

.right .calendar-table {
    display: none;
}


/* Saturn Picker */

sat-datepicker-toggle.mat-datepicker-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.mat-datepicker-toggle {
    outline: none!important;
}

.mat-datepicker-toggle-active {
    color: #545dff;
}


/* Input number guests */


/* * {
    box-sizing: border-box
} */

.input-number {
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none
}

.input-number,
.input-number-decrement,
.input-number-increment {
    /* border: 1px solid #ccc; */
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 45px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #ddd
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}


/* icon location */

.ap-input-icon {
    display: none!important;
}


/* button.ap-input-icon.ap-icon-pin {
    display: none!important;
} */

.input-search::-webkit-search-decoration,
.input-search::-webkit-search-cancel-button,
.input-search::-webkit-search-results-button,
.input-search::-webkit-search-results-decoration {
    display: none;
}