<div class="contact-content container mt-5">
  <h6>Where to send you booking details?</h6>
  <form action="">
    <!-- Name -->
    <div class="name-field">
      <mat-form-field class="field">
        <input matInput placeholder="Contact name">
      </mat-form-field>
    </div>
    <!-- End name -->

    <!-- Country code & telephone -->
    <div class="country-tel-field d-flex justify-content-between">
        <mat-form-field class="country-code">
          <input matInput placeholder="Country code">
        </mat-form-field>
        <mat-form-field class="telephone">
          <input matInput placeholder="Telephone">
        </mat-form-field>
      </div>
    <!-- End code & telephone -->

    <!-- Email -->
    <mat-form-field class="field">
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-- End email -->
  </form>
  <!-- Button done -->
  <div class="">
    <button mat-raised-button color="primary" class="btn">Done</button>
  </div>
  <!-- End button done -->
</div>