.find-hotel-card {
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-heading{
    margin: 1rem 0;
}

.item-footer{
    display: flex;
    justify-content: space-between;
}

.item-content{
    display: flex;
    color: rgba(0,0,0,.54);
}

.text-color{
    color: orange;
}

.find-hotel-card .mat-card-image{
    height: 170px;
}