/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
/* @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css'; */
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-custom{
    margin-top: -20%;
    margin-bottom: 100px;
}

/* icon back */
.back-icon{
    font-size: 20px;
}
/* End icon back */

/* Fields in form */
.field{
    width: 100%;
    margin-bottom: .5rem;
}
/* End fields in form */

/* Button in form */
.btn{
    width: 100%;
}
/* End button in form */

/* General Header */
.general-header{
    background-color: #545dff;
    height: 150px;
    padding: 1rem;
}

.header-title{
    display: flex;
}

/* Processbar */
.header-processbar{
    margin-right: 1rem;
    color: #b4b4fb!important;
}

.active{
    color: white!important;
}

ul.processbar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    padding: unset;
    font-size: 12px;
}

ul.processbar > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .5rem;
}

ul.processbar li p.circle{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #b4b4fb;
    border-radius: 50%;
    margin-right: .75rem;
    /* padding: 2rem; */
}

ul.processbar li p.line{
    width: 30px;
    height: 2px;
    background-color: #b4b4fb;
    margin-left: .25rem;
}
/* End Processbar */

/* Price */
.price{
    color: orange;
}
/* End price */