/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';

/* @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css'; */

@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.container-custom {
    margin-top: -20%;
    margin-bottom: 100px;
}


/* icon back */

.back-icon {
    font-size: 20px;
}


/* End icon back */


/* Fields in form */

.field {
    width: 100%;
    margin-bottom: .5rem;
}


/* End fields in form */


/* Button in form */

button.mat-stroked-button.mat-primary:focus {
    outline: none;
}

.btn-common {
    width: 100%;
}


/* End button in form */


/* Price */

.price {
    color: orange;
}


/* End price */


/* Dot in book of fill in details */

ul {
    list-style-type: none;
}

ul li.dot-check-in::before,
ul li.dot-check-out::before,
ul li.dot-room::before {
    content: "•";
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
}

ul li.dot-check-in::before {
    color: #545dff;
}

ul li.dot-check-out::before {
    color: #666dfc;
}

ul li.dot-room::before {
    color: #8f94fc;
}


/* End dot in book of fill in details*/


/* Fill in details */

.fill-in-content {
    margin-top: 20px;
    margin-bottom: 5rem;
}


/* End fill in details */


/* Title-text (common) */

.title-text {
    color: rgba(0, 0, 0, .54);
}


/* End title-text */


/* Star */


/* checked star */

.header-star {
    margin-left: 2.5rem;
}

.header-star span.fa.fa-star {
    padding-right: .5rem;
}

.checked {
    color: orange;
}

.unchecked {}


/* End Star */